@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Orbitron:wght@700&display=swap');

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.blink {
  animation: blink 2s step-start infinite;
}


html {
  /* scroll-padding-top: 90px;  */
  scroll-behavior: smooth;
}

/* @media (max-width: 1024px) {
  html {
    scroll-padding-top: 85px;
  }
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 75px;
  }
}

@media (max-width: 480px) {
  html {
    scroll-padding-top: 0px;
  }
} */

*{
  /* font-family: sans-serif; */
}

#services {
  scroll-margin-top: 80px; /* same as navbar height */
}

